*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  background-image: radial-gradient(circle, #7950f2 10%, #38aacd 95%);

}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: tomato;
}

.green {
  background-color: olivedrab;
}

.blue {
  background-color: cornflowerblue;
}

.yellow {
  background-color: rgb(232, 211, 91);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
